<div class="fondo">
	<header>
	
		<% if user_signed_in? %>
			<%= current_user.email %>
			<%= link_to "Logout", destroy_session_path(current_user), method: 
			:delete %><br />
		<% end %>
 

		<div class="logo">
		</div>

 	<div class="btn_login">

 		<a href="http://localhost:3000/users/sign_in"><button class="btn_usuario">Usuario</button></a>
 		<a href="http://localhost:3000/users/sign_up"><button class="btn_registro">Registrarse</button></a>
		
 	</div>
		

	</header>
<div class="slogan">
	<p>Sitios de interés  y turísticos</p>
</div>

	<div class="content_home">
	<h1>Bienvenido a Medellín</h1>
	<span>Dime cuanto tienes y te diré a donde ir</span><br>

	<%= form_tag({controller: :sites, action: :index_per_price}, method: :get) do %>
    	<%= text_field_tag :price %>
    	<span class="btn_price"><%= submit_tag "Ver" %></span>
    <% end %>

	<div><a href="http://localhost:3000/categories"> Ver guía </a></div> 
</div>

<footer>
	
</footer>
</div> 
	

