<div class="fondo">
	<header>
	
		<% if user_signed_in? %>
			<%= current_user.email %>
			<%= link_to "Logout", destroy_session_path(current_user), method: 
			:delete %><br />
		<% end %>
 

		<div class="logo">
		</div>

 	<div class="btn_login">
 		<%= link_to new_user_session_path do%>
 			<button class="btn_usuario">Usuario</button>
 		<% end %>

 	 		<%= link_to new_user_registration_path do%>
 			<button class="btn_registro">Registrarse</button>
 		<% end %>
		
 	</div>
		

	</header>
<div class="slogan">
	<p>Sitios de interés  y turísticos</p>
</div>

	<div class="content_home">
	<h1>Bienvenido a Medellín</h1>
	<span>Dime cuanto tienes y te diré a donde ir</span><br>

	<%= form_tag({controller: :sites, action: :index_per_price}, method: :get) do %>
    	<%= text_field_tag :price %>
    	<span class="btn_price"><%= submit_tag "Ver" %></span>
    <% end %>

	<div>
		<%= link_to categories_path %>
	</div> 
</div>

<footer>
	
</footer>
</div> 
	

